.container {
    /* padding: 0 2rem; */
    background-image: url('../../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
}

.bgTriangle {
    background-image: url('../../public/images/bg-triangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-position-y: 15%;
    background-size: 98%;
}

@media only screen and (max-width: 1367px) {
    .bgTriangle {
        // background-position-y: 35%;
        background-position-y: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    .bgTriangle {
        // background-position-y: 35%;
        background-position-y: 45%;
    }
}

@media only screen and (max-width: 1024px) {
    .bgTriangle {
        background-position-y: 55%;
        background-size: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .bgTriangle {
        background-position-y: 65%;
        background-size: 60%;
    }
}

.intruction_wrapper {
    position: relative;
}

.quiz_container {
    
}
.quiz_title {
    color: blue;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.quiz_title3 {
    color: blue;
    text-align: right;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.quiz_title_3 {
    color: blue;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.quiz_subtitle {
    color: #313131;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    // min-height: 3.5rem;
}
.quiz_lists {

}
.quiz_item {
    background: #8EBB21;
    padding: .6rem 1.5rem;
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    p {
        cursor: pointer;
        margin-bottom: 0;
    }
}
.quiz_item:last-child {
    margin-bottom: 0;
}
.quiz_item:hover {
    background: #729A35;
}
.quiz_item_center {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background: #8EBB21;
    padding: .6rem 1.5rem;
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    p {
        cursor: pointer;
        text-align: center;
        margin-bottom: 0;
    }
}
.quiz_item_center:last-child {
    margin-bottom: 0;
}

.quiz_item_center:hover {
    background: #729A35;
}


.quiz_row {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 600px)  {
    .quiz_row {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(1, 1fr);
    }
}
.quiz_row_2 {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(1, 1fr);
}

.quiz_col {
    background: #8EBB21;
    padding: .6rem 1.5rem;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    p {
        text-align: center;
        cursor: pointer;
        margin-bottom: 0;
    }
}
.quiz_col:hover {
    // background: #729A35;
}
.quiz_col:active {
    background: #2f4115;
}

.quiz_active {
    background: #2f4115;
}

.btn_area {
    position: relative;
    width: 100%;
}
.btn_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
}
.next_btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem 3rem;
    width: 100%;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 109px;
    border: 0;
}
.lottieCheck {
    width: 300px;
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.hidden {
    display: none;
}
.flade {
    animation: flade 2s;
}
@keyframes flade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.input_text {
    background-color: #8EBB21;
    color: #FFF;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.videoWrap {
    max-width: 300px;
    margin: 1.5rem 0;
    cursor: zoom-in;
}

.triangleWrap {
    aspect-ratio: 10.5/5;
}

.blankSpace {
    display: block;
    content: '';
    // height: 8rem;
}

@media only screen and (min-width: 1300px) {
    .blankSpace {
        // height: 18vh;
        // height: 20%;
    }
}


.quiz_image {
    margin-bottom: 2rem;
    img {
        display: block;
        margin: 0 auto;
    }
}

.inline_input {
    border: 0;
    border-bottom: 1px solid blue;
    outline: 0;
    padding: 0 5px;
    width: auto;
    text-align: center;
}

.alertBox {
    display: block;
    width: auto;
    max-width: 70%;
    margin: 3rem auto;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    z-index: 4;
    background-color: #FFF;
    border: 3px solid pink;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    color: black;
}
.alertHead {
    background: #8EBB21;
    color: #FFF;
    border-radius: 2rem;
    // padding: .3rem;
    padding: .3rem 2rem;
    margin-bottom: 1rem;
    p {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
}
.alertImage {
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
}