.video_container {
    position: relative;
    width: 100%;
    video {
        display: block;
        margin: 0;
    }
}
.video_item {
    margin-bottom: -1rem;
}

.video_btn1 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 16.5%;
    bottom: 19%;
    aspect-ratio: 1/1;
    width: 3%;
    border: .3rem solid red;
    border-radius: 50%;
    animation: pulsing 1.5s linear infinite;
    z-index: 4;
}

.video_btn2 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 37%;
    bottom: 4%;
    aspect-ratio: 1/1;
    width: 10%;
    border: .3rem solid red;
    border-radius: 50%;
    animation: pulsing 1.5s linear infinite;
    z-index: 4;
}

.video_btn3 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 22.4%;
    bottom: 20.5%;
    aspect-ratio: 1/1;
    width: 2%;
    border: .2rem solid rgba(148, 193, 31, .8);
    border-radius: 50%;
    animation: pulsing 1.5s linear infinite;
    z-index: 4;
}

.video_btn4 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 78%;
    bottom: 13%;
    aspect-ratio: 9/1;
    width: 28%;
    // border: .3rem solid green;
    border-radius: 50%;
    // animation: pulsing 1s linear infinite;
    z-index: 99;
}

.video_main_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video_main_img_blink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: blink .5s linear infinite;
}

.text_equipment_1 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 18%;
    bottom: 7%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_2 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 20%;
    bottom: 53%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_3 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 38%;
    bottom: 30%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_4 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 55%;
    bottom: 20%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_5 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 78%;
    bottom: 18%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}

.show {
    display: block;
}
.hidden {
    display: none;
}


// @keyframes pulsing {
//     50% {
//         opacity: 0.2;
//     }
// }


// @keyframes pulsing {
//     0% {
//         opacity: 1;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
//     20% {
//         opacity: 0.5;
//     }
//     70% {
//         opacity: 0.2;
//         transform: scaleY(1.8) scaleX(1.4) translate(-50% , -50%);
//     }
//     80% {
//         opacity: 0;
//         transform: scaleY(1.8) scaleX(1.4) translate(-50% , -50%);
//     }
//     90% {
//         opacity: 0;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
// }
// @keyframes pulsing1 {
//     0% {
//         opacity: 1;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
//     20% {
//         opacity: 0.5;
//     }
//     70% {
//         opacity: 0.2;
//         transform: scaleY(1.3) scaleX(1.15) translate(-50% , -50%);
//     }
//     80% {
//         opacity: 0;
//         transform: scaleY(1.3) scaleX(1.15) translate(-50% , -50%);
//     }
//     90% {
//         opacity: 0;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
// }


@keyframes pulsing {
    50% {
        opacity: 1;
        box-shadow: 0 0 10px .5rem rgba(74, 160, 40, 0.8);
    }
}
@keyframes pulsing1 {
    50% {
        opacity: .9;
        box-shadow: 0 0 0 1rem rgba(160, 148, 40, 0.4);
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}