.traget_container {
    position: relative;
    width: 100%;
    height: auto;
    // min-height: 100vh;
    overflow: hidden;
}
.traget_item {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 0;
    display: block;
    width: 35%;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bis_item {
    width: 100%;
}
.bg_area {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    img {
        position: absolute;
        // width: auto;
        // min-width: 100vw;
        // height: 100vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.dropArea {
    display: none;
    content: '';
    background: rgba(204,169,44, 0.4);
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.4%;
    top: 28.5%;
    animation: pulse 1s infinite;
}

.lineTest {
    content: '';
    background: rgba(204,169,44, 0.4);
    border-radius: 50%;
    width: 2px;
    height: 10vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.5%;
    top: 30%;
    animation: pulse 1s infinite;
}

.log_wrapper {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 99;
    width: 20%;
    height: 15%;
    padding: 1.5%;
    p {
        margin-bottom: 0;
        color: #FFF;
        text-shadow: 1px 1px #000;
    }
}
.lineSight {
    display: none;
}
.lineSightShow {
    display: block;
}
.lineSight_X {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 49.4%;
    width: 2px;
    height: 60%;
    background: rgba(204,169,44, 0.7);
    z-index: 99;
}
.lineSight_Y {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 44%;
    left: 49%;
    width: 60%;
    height: 2px;
    background: rgba(204,169,44, 0.5);
    z-index: 99;
}
.lineSight_X , .lineSight_Y {
    animation: pulseLineSight 1.5s infinite;
}
@keyframes pulseLineSight {
    70% {
        opacity: .1;
    }
}

.changeView {
    position: absolute;
    z-index: 5;
    width: 10%;
    left: 15%;
    top: 50%;
    // transform: translate(-50%,-50%);
    display: none;
    img {
        cursor: pointer;
    }
}


.hin_area {
    display: none;
    padding: 10px;
    width: 20%;
    position: absolute;
    right: 3rem;
    bottom:25%;
    background: #FFF;
    border: 1px solid pink;
    border-radius: 15px;
}
.btn_group {
    position: absolute;
    right: 3%;
    bottom: 15%;
    transform: translate(-50%,-50%);
    text-align: center;
    button {
        display: block;
        text-align: center;
        width: 13rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        border-radius: .4rem;
        padding: .4rem 1.5rem;
        border: 0;
        outline: 0;
        color: #FFF;
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;;
    }
    button:last-child {
        margin-bottom: 0;
    }
}

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background: rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 1rem rgba(204,169,44, 0);
        box-shadow: 0 0 0 1rem rgba(204,169,44, 0);
        background: rgba(204,169,44, 0.1);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


.show {
    // display: block;
    animation: rotate 1.5s;
}

.rotated {
    transform: rotate(-45deg);
    animation: rotated 1.5s;
}

.invisible{
    visibility: hidden;
}


@keyframes rotate {
    0% {
        transform: rotate(-45deg);
        opacity: .1;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}
@keyframes rotated {
    0% {
        transform: rotate(0deg);
        opacity: .1;
    }
    100% {
        transform: rotate(-45deg);
        opacity: 1;
    }
}

.showHint {
    display: block;
}