.traget_container {
    position: relative;
    width: 100%;
    height: auto;
    // min-height: 100vh;
    overflow: hidden;
}
.traget_item {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 0;
    display: block;
    width: 35%;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bis_item {
    width: 100%;
}
.bg_area {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    img {
        position: absolute;
        // width: auto;
        // min-width: 100vw;
        // height: 100vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.monitorArea {
    position: absolute;
    width: 45%;
    top: 5%;
    right: 5%;
    img {

    }
}

.dropArea {
    content: '';
    background: rgba(204,169,44, 0.4);
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.5%;
    top: 30%;
    animation: pulse 1s infinite;
}

.lineTest {
    content: '';
    background: rgba(204,169,44, 0.4);
    border-radius: 50%;
    width: 2px;
    height: 10vh;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 49.5%;
    top: 30%;
    animation: pulse 1s infinite;
}

.log_wrapper {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 99;
    width: 20%;
    height: 15%;
    padding: 1.5%;
    p {
        margin-bottom: 0;
        color: #FFF;
        text-shadow: 1px 1px #000;
    }
}
.hin_area {
    padding: 10px;
    width: 20%;
    position: absolute;
    right: 3rem;
    bottom: 7rem;
    background: #D9D9D9;
}
.btn_group {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    button {
        font-size: 1.4rem;
        border-radius: .4rem;
        padding: .4rem 1.5rem;
        border: 0;
        outline: 0;
        color: #FFF;
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;;
    }
}

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background: rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 1rem rgba(204,169,44, 0);
        box-shadow: 0 0 0 1rem rgba(204,169,44, 0);
        background: rgba(204,169,44, 0.1);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }