.video_container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    overflow: hidden;
    video {
        display: block;
        margin: 0;
    }
}
.video_item {
    margin-bottom: -1rem;
}

.video_btn1 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 15.7%;
    bottom: 18.5%;
    aspect-ratio: 1/1;
    width: 3%;
    // border: .1rem solid red;
    border-radius: 50%;
    animation: pulsing 2.5s linear infinite;
    z-index: 4;
}

.video_btn2 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 36.8%;
    bottom: 4%;
    aspect-ratio: 1/1;
    width: 10%;
    // border: .3rem solid red;
    border-radius: 50%;
    animation: pulsing 2.5s linear infinite;
    z-index: 4;
}

.video_btn3 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 21.8%;
    bottom: 20.8%;
    aspect-ratio: 1/1;
    width: 1.5%;
    // border: .2rem solid rgba(148, 193, 31, .8);
    border-radius: 50%;
    animation: pulsing2 2.5s linear infinite;
    z-index: 4;
}

.video_btn4 {
    cursor: pointer;
    content: '';
    position: absolute;
    transform: translate(-50% , -50%) rotate(1deg);
    left: 78%;
    bottom: 12%;
    aspect-ratio: 9/1;
    width: 28%;
    // border: .3rem solid green;
    border-radius: 50%;
    animation: pulsing 2.5s linear infinite;
    z-index: 99;
}

.video_main_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video_main_img_blink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // animation: blink .5s linear infinite;
    opacity: 0;
}

.text_equipment_1 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 18%;
    bottom: 7%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_2 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 20%;
    bottom: 53%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_3 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 38%;
    bottom: 30%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_4 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 55%;
    bottom: 20%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}
.text_equipment_5 {
    position: absolute;
    transform: translate(-50% , -50%);
    left: 78%;
    bottom: 18%;
    z-index: 6;
    p {
        font-size: 1.46vw;
        line-height: 1.4vw;
        color: #FFF;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
    }
}

.show {
    display: block;
}
.hidden {
    display: none;
}


// @keyframes pulsing {
//     50% {
//         opacity: 0.2;
//     }
// }


// @keyframes pulsing {
//     0% {
//         opacity: 1;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
//     20% {
//         opacity: 0.5;
//     }
//     70% {
//         opacity: 0.2;
//         transform: scaleY(1.8) scaleX(1.4) translate(-50% , -50%);
//     }
//     80% {
//         opacity: 0;
//         transform: scaleY(1.8) scaleX(1.4) translate(-50% , -50%);
//     }
//     90% {
//         opacity: 0;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
// }
// @keyframes pulsing1 {
//     0% {
//         opacity: 1;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
//     20% {
//         opacity: 0.5;
//     }
//     70% {
//         opacity: 0.2;
//         transform: scaleY(1.3) scaleX(1.15) translate(-50% , -50%);
//     }
//     80% {
//         opacity: 0;
//         transform: scaleY(1.3) scaleX(1.15) translate(-50% , -50%);
//     }
//     90% {
//         opacity: 0;
//         transform: scaleY(1) scaleX(1) translate(-50% , -50%);
//     }
// }


@keyframes pulsing {
    50% {
        opacity: 1;
        box-shadow: 0 0 10px .5rem rgb(23, 255, 81);
        // box-shadow: 0 0 0 1rem rgba(19, 244, 12, 0.4);
    }
}
@keyframes pulsing1 {
    50% {
        opacity: .9;
        box-shadow: 0 0 0 1rem rgb(23, 255, 81);
        // box-shadow: 0 0 0 1rem rgba(19, 244, 12, 0.4);
    }
}
@keyframes pulsing2 {
    50% {
        opacity: 1;
        box-shadow: 0 0 20px .57rem rgb(23, 255, 81);
        // box-shadow: 0 0 0 1rem rgba(19, 244, 12, 0.4);
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.btn_group {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    z-index: 99;
    visibility: hidden;
    button {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        border-radius: .4rem;
        padding: .4rem 1.5rem;
        border: 0;
        outline: 0;
        color: #FFF;
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;;
    }
}

.showBtn {
    display: block;
    visibility: hidden;
}
// .showBtn:first-child {
//     visibility: inherit;
// }
.invisible{
    visibility: hidden !important;
}


.visible{
    visibility: inherit;
}