.container_hint {
    padding-top: 5vh;
    padding-left: 6vw;
    padding-right: 6vw;
}
.row_hint {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    justify-content: center;
    left: 5%;
}
.col_text_box {
    flex-wrap: 65%;
    width: 65%;
}
.text_box_wrap {
    position: relative;
    top: 2rem;
    background-color: #FFF;
    border-radius: 3rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px .5rem rgba(0, 128, 255, 0.5);
    border: 4px solid #ECA7CA;
    z-index: 3;

    h2 {
        color: blue;
        font-size: 2rem;
    }
}

.col_image {
    flex-wrap: 30%;
    width: 30%;
    img {
        display: block;
        position: relative;
        left: -25%;
        z-index: 4;
    }
}