.room_bg {
    width: 100%;
    height: auto;
    aspect-ratio: 1600/905;
    padding:0;
    background-image: url('.././public/troubleshooting/Room-male80.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.room_bg_female {
    width: 100%;
    height: auto;
    aspect-ratio: 1600/905;
    padding:0;
    background-image: url('.././public/troubleshooting/Room-Female70.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.startBox {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 20%;
    height: auto;
    border: 2px solid pink;
    background-color: #FFF;
    z-index: 2;
    padding: 2rem;
    border-radius: 2rem;

    p {
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 1.6rem;
    }
}
.startBtn {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: -10%;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem;
    width: 40%;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    // box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 109px;
    border: 0;
    cursor: pointer;
}

.patientElement {
    // คนไข้
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    left: 48%;
    bottom: 56.3%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}

.alertIconElement {
    content: '';
    display: block;
    position: relative;
    background-image: url('.././public/images/alerticon2.png');
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    width: 3vw;
    height: auto;
    cursor: pointer;
    animation: push 1s infinite;
}
.checkedIconElement {
    content: '';
    display: block;
    position: relative;
    background-image: url('.././public/images/checkedicon2.png');
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    width: 3vw;
    height: auto;
    cursor: pointer;
    animation: none;
}

@keyframes push {
    50% {
        transform: scale(1.2);
    }
}
.alertBox {
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    left: 50%;
    bottom: 50%;
    width: 30%;
    height: auto;
    padding: 2rem;
    border-radius: 2rem;
    z-index: 4;
    background-color: #FFF;
    border: 3px solid pink;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
}
.alertSubmitBtn {
    position: relative;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem;
    width: 40%;
    margin: 1rem auto 0 auto;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    // box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 109px;
    border: 0;
    cursor: pointer;
}
.alertClose {
    position: absolute;
    right: -.7rem;
    top: -.7rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #FFF;
    border: 3px solid pink;
    color: pink;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.alertHead {
    background: #8EBB21;
    color: #FFF;
    border-radius: 2rem;
    padding: .3rem;
    margin-bottom: 1rem;
    p {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
}
.alertImage {
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
}
.alertBox iframe {
    display: block;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}
.alertText {
    overflow: hidden;
    p {
        text-align: center;
        font-size: 1.3rem;
    }
}
.finishBtn {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: -10%;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem;
    width: 40%;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    // box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 109px;
    border: 0;
    cursor: pointer;
}

.ventilatorElement {
    // เครื่องช่วยหายใจ
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    left: 76.6%;
    bottom: 83.3%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}
.ventilatorMonitor {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
    z-index: 4;
    cursor: pointer;
    border: 3px solid pink;
    border-radius: 2rem;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    // overflow: hidden;
}
.ventilatorMonitorVideo {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
}
.ventilatorMonitorVideo_alarm {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 72.5%;
    top: 82%;
    aspect-ratio: 1/1;
    width: 5%;
    height: auto;
    border: 3px solid rgb(131, 57, 8);
    border-radius: 50%;
    animation: blinkAlarm 1s infinite;
}
@keyframes blinkAlarm {
    50% {
        border: 3px solid rgb(184, 153, 15);
    }
}
.ventilatorMonitorVideo_alarmText {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: auto;
    z-index: 5;
    background-color: #FFF;
    border-radius: 15px;
    padding-inline: 15px;
    p {
        text-align: center;
    }
}
.ventilatorMonitorVideo_alarmClose {
    position: absolute;
    right: -.7rem;
    top: -.7rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.ventilatorMonitor2 {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    aspect-ratio: 1920/1340;
    z-index: 4;
    cursor: pointer;
    border: 3px solid pink;
    border-radius: 2rem;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    // overflow: hidden;
}
.ventilatorMonitorVideo2 {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1920/1340;
    overflow: hidden;
    border-radius: 2rem;
}

.circuitsElement {
    // Ventilator circuits
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    left: 56.4%;
    bottom: 65.8%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}

.tubeElement {
    // Ventilator Tube
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    left: 52.5%;
    bottom: 45.3%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}

.closeSuctionElement {
    // Close suction
    content: '';
    display: block;
    position: absolute;
    // transform: translate(-50% , 50%) rotate(315deg);
    transform: translate(-50% , 50%);
    left: 43.5%;
    bottom: 36.3%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}

.cuffElement {
    // Close suction
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50% , 50%);
    // transform: translate(-50% , 50%) rotate(135deg);
    left: 46%;
    bottom: 45.3%;
    width: 2%;
    height: 2%;
    // background: rgb(255, 0, 0,.5);
    z-index: 3;
    // cursor: pointer;
}