// @font-face {
// 	font-family: Viking;
// 	font-style:  normal;
//     font-weight: normal;
// 	src: url('https://sim.orainteractive.com/fonts/Viking-JPN.eot.eot'); /* IE */
// }

@font-face {
	font-family:'Viking';	
    src: url('https://wish-integrate.com/font/Viking-JPN.ttf') format('truetype');
	// src: url('https://sim.orainteractive.com/fonts/Viking-JPN.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

.vent_container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1024 / 911;
    background-color: black;
    overflow: hidden;
    border-radius: 1rem;
}

.panel_top {
    aspect-ratio: 1024 / 108;
    background-image: url('../public/vent/panel-top.png');
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        color: #FFF;
        font-size: 130%;
        text-align: center;
    }
    h3 {
        color: #FFC000;
        font-size: 120%;
        text-align: center;
    }
    .panel_top_content {
        flex-basis: 100%;
        width: 100%;
    }
}

.main {
    display: block;
    /* aspect-ratio: 952 / 472; */
    aspect-ratio: 1024 / 472;
    padding: 0 2.5%;
    width: 100%;
    height: auto;
}
.VentSetup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}
.sidebar {
    flex-basis: 12.2%;
    width: 12.2%;
    background: -webkit-linear-gradient(bottom, #304B5F 0%, #30485F 99%);
    overflow: hidden;
    .sideLogo {
        padding: 10px;
        p {
            color: #FFF;
            font-weight: 400;
        }
    }

    .sideList {
        margin: 10% 0;
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            display: block;
            width: 85%;
            padding-top: .3rem;
            padding-bottom: .3rem;
            margin-left: auto;
            text-align: center;
            color: #FFF;
            font-size: .85rem;
            font-weight: 300;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background: linear-gradient(to bottom,  rgba(14,21,27,1) 0%,rgba(43,66,84,1) 10%,rgba(39,61,77,1) 100%);
            cursor: pointer;
        }
        .active {
            background: #597284;
        }
    }

    .kgbox {
        padding: 5%;
        color: #FFF;
    }
    .kg {

    }
    .spnkg {
        font-size: 1rem;
    }   
    .spnkgc {
        font-size: .8rem;
    }
    .spnmlkg {
        font-size: 1rem;
    }   
    .spnlmkgc {
        font-size: .8rem;
    }
}

.Ventcontent {
    flex-basis: 87%;
    width: 87%;
    background: #597284;
    color: #eee;
    // display: none;
}

.settings_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}
.leftCol {
    flex-basis: 18.4%;
    width: 18.4%;
    padding: 3% 2%;
    border-right: 1px solid rgba(0,0,0,.5);
    h4 {
        text-align: center;
        font-size: .9rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .helpText {
        text-align: center;
        font-size: .6rem;
        line-height: .8rem;
        span {
            color: #eee;
        }
    }
    .weightBox , .heightBox {
        text-align: center;
        width: 60%;
        margin: .5rem auto;
    }
    .btn_setting_up {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        aspect-ratio: 84/76;
        width: 100%;
        height: auto;
        background-image: url('.././public/vent/button-settings-up.png');
        background-size: cover;
        background-position: center;
        padding-top: 5px;
        padding-bottom: 5px;
        .btnsLineMid {
            flex-basis: 100%;
            width: 100%;
            padding-top: 2%;
            font-size: .9rem;
        }
        .btnsLineTop {
            font-family: Viking, Georgia, serif;
            flex-basis: 100%;
            width: 100%;
            font-size: .4rem;
        }
        .btnsLineBot {
            flex-basis: 100%;
            width: 100%;
            font-size: .4rem;
            padding-bottom: 2%;
        }
    }
    .btn_setting_up_active {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        aspect-ratio: 84/76;
        width: 100%;
        height: auto;
        background-image: url('.././public/vent/button-settings-focus.png');
        background-size: cover;
        background-position: center;
        padding-top: 5px;
        padding-bottom: 5px;
        .btnsLineMid {
            flex-basis: 100%;
            width: 100%;
            padding-top: 2%;
            font-size: .9rem;
        }
        .btnsLineTop {
            font-family: Viking, Georgia, serif;
            flex-basis: 100%;
            width: 100%;
            font-size: .4rem;
        }
        .btnsLineBot {
            flex-basis: 100%;
            width: 100%;
            font-size: .4rem;
            padding-bottom: 2%;
        }
    }
    .orBox {
        text-align: center;
    }
    .genderBox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
        margin-top: 5%;
    }
    .genderbtn {
        border-radius: 10%;
        padding: 8% 4%;
        flex-basis: 40%;
        background: linear-gradient(to bottom,  rgb(159,185,199) 0%,rgb(35,84,110) 35%,rgb(0,51,82) 60%,rgb(0,51,82) 100%,rgb(0,31,51) 100%);
    }
    .genderBoxActive {
        background: #007fee;
    }
}

.rightCol {
    flex-basis: 81.5%;
    width: 81.5%;
    padding: 3% 2%;
    // display: none;
}

// TABLE
.table_btngroup {
    border-collapse:separate; 
    // border-spacing: 0 .3rem;
    overflow: hidden;
    // opacity: 0;
    td {
        font-size: 50%;
    }
    .td_title {
        width: 37%;
        padding-right: 5%;
    }

    .setupCaption {
        text-align: right;
    }

    .setupbtn {
        cursor: pointer;
        border-radius: .2rem;
        padding: .3rem 0;
        display: flex;
        justify-content: center;
        align-content: center;
        background: linear-gradient(to bottom,  rgb(159,185,199) 0%,rgb(35,84,110) 35%,rgb(0,51,82) 60%,rgb(0,51,82) 100%,rgb(0,31,51) 100%);
        box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 50%);
        span {
            // font-size: .4rem;
            cursor: pointer;
        }
    }
    .setupCaptionActive2 {
        background: #007fee;
        box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 50%) inset, -1px -3px 3px 1px rgb(255 255 255 / 50%) inset, 0px 0px 3px 1px rgb(0 0 0 / 50%);
    }
}
.setupCaptionActive2 {
    background: #007fee;
}
.table_btnsetting {
    border-collapse:separate; 
    border-spacing: .4rem .4rem;
    overflow: hidden;
    // opacity: 0;
    td {
        width: 12.5%;
        font-size: 50%;
    }
    .btn_setting {
        width: 100%;
        height: auto;
        aspect-ratio: 66/74;
        padding:0;
        background-image: url('.././public/vent/button-settings-up.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        .btnsLineTop {
            font-family: Viking, Georgia, serif;
            padding-top: .4rem;
            text-align: center;
            font-size: .4rem;
            height: 1.4rem;
            sub {
                font-size: .3rem;
            }
        }
        .btnsLineMid {
            font-size: 1rem;
            line-height: 1.1rem;
            height: 1.1rem;
            text-align: center;
        }
        .btnsLineBot {
            padding-bottom: .4rem;
            text-align: center;
            font-size: .4rem;
        }
    }
    .btn_setting_up_active {
        width: 100%;
        height: auto;
        aspect-ratio: 66/74;
        padding:0;
        background-image: url('.././public/vent/button-settings-focus.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        .btnsLineTop {
            font-family: Viking, Georgia, serif;
            padding-top: .4rem;
            text-align: center;
            font-size: .4rem;
            height: 1.4rem;
            sub {
                font-size: .3rem;
            }
        }
        .btnsLineMid {
            font-size: 1rem;
            line-height: 1.1rem;
            height: 1.1rem;
            text-align: center;
        }
        .btnsLineBot {
            padding-bottom: .4rem;
            text-align: center;
            font-size: .4rem;
        }
    }
}
.statBar {
    aspect-ratio: 1024 / 40;
}
.footer {
    background-color: #243442;
    background: -webkit-linear-gradient(bottom, #243442 75%, #10171D 97%);
    aspect-ratio: 1024 / 180;
    color: #e2eef7;
    text-shadow: 0px 1px 1px #2c818e;
}
.introduction_box {
    position: relative;
    padding: 3% 5%;
    background: #ffffff;
    border: 3px solid pink;
    color: #10171D;
    // opacity: 0;
    animation: flade 5s;
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-weight: 300;
        font-size: .8rem;
    }

    .btn_next {
        right: 3%;
        bottom: 10%;
        position: absolute;
        color: #FFF;
        border: 0;
        border-radius: .4rem;
        padding: .2rem 1rem;
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECA7CA;
        // background: #515c2a;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .btn_start {
        right: 10%;
        bottom: 130%;
        position: absolute;
        color: #FFF;
        border: 0;
        border-radius: .4rem;
        padding: .2rem 1rem;
        background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECA7CA;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        // opacity: 0;
    }
}


.hidden {
    display: none;
}
.introductionBtnLink {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    border: 0;
    border-radius: .4rem;
    padding: .2rem 1rem;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECA7CA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.introductionBtnLink:hover {
    color: #FFF;
}

/* controlpanel */
.controlpanel_wrap {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    aspect-ratio: 900 / 100;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #1d3d52;
}

.controlpanel_row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    position: relative;
    overflow: hidden;
}
.controlpanel {
    flex-basis: 5.55%;
    width: 5.55%;
}
.controlpanel img {
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.controlpanel img:hover {
    box-shadow: 0px 0px 5px 1px #fff, inset 0 0 3px 2px #fff;
}
.controlpanel_knob_box {
    flex-basis: 11%;
    width: 11%;
    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
}



.invisible{
    visibility: hidden;
}


.log_box {
    position: relative;
    top: 4rem;
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    padding: .4rem;
    border-radius: 1rem;
}

.btn_disable {
    opacity: .6;
}

.btn_group_area {
    position: relative;
    text-align: right;
}
.btn_group {

}
.btnAccept {
    background: #10171D;
    color: #FFF;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 5px 15px;
}