.container {
    /* padding: 0 2rem; */
    background-image: url('../../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
}
.row {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    // padding: 3vw 3vw;
    min-height: 100vh;
}
.col_left {    
    flex-basis: 40%;
    width: 40%;
    padding: 0 1vw;
    /* overflow: hidden; */
}
.col_left_wrap {
    display: block;
    height: 100%;
    position: relative;
}
.col_right {    
    flex-basis: 52%;
    width: 52%;
    padding: 0 1vw;
    overflow: hidden;
}

.col {    
    flex-basis: 52%;
    width: 52%;
    padding: 0 .5vw;
    overflow: hidden;
}
@media only screen and (max-width: 1440px) {
    .col {    
        flex-basis: 80%;
        width: 80%;
    }
}
@media only screen and (max-width: 1250px) {
    .col {    
        flex-basis: 100%;
        width: 100%;
        padding: 0;
        min-width: 780px;
    }
    .row {
        justify-content: flex-start;
        overflow-x: scroll;
    }
}

.instruction_box {
    padding: .5rem;
    background-color: #FFF;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #ECA7CA;
}
.instruction_box_title {
    font-size: 1.35rem;
    color: #0C0450;
    text-align: center;
}
.instruction_box p {
    font-size: 1.15rem;
    color: #0C0450;
}
.btn_area {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 30%;
}
.next_btn {
    color: #FFF;
    font-size: 1.1rem;
    width: 100%;
    border: 0;
    border-radius: 10%;
    padding: 5% 0;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECA7CA;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.5);
}

/* DEMO */
.demo {
    position: relative;
    width: 100%;
    .vent_demo {
        position: absolute;
        aspect-ratio: 2372/2158;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }
}