.container {
    /* padding: 0 2rem; */
    background-image: url('../../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.howtoplay {
    z-index: 99;
    position: absolute;
    transform: translate(-50% , -50%);
    background-color: #FFF;
    left: 50%;
    top: 50%;
    width: 60%;
    padding: 1rem;
    height: auto;
    // aspect-ratio: 16/9;
    padding-top: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: .5rem 1rem 3rem rgba(0, 0, 0, 0.23);
    
    h2 {
        text-align: center;
        color: blue;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
        color: blue; 
    }
}
.quiz_title {
    color: blue;
    text-align: center;
    font-size: 2.4rem;
    // margin-bottom: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    
    strong {
        padding-left: 10px;
        text-decoration: underline;
        font-weight: 500;
    }
}

.boxGrid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    button {
        position: relative;
    }
    .iconChecked {
        position: absolute;
        top: -15px;
        right: -15px;
        svg {
            // width: 3rem;
        }
    }
}

.btnOrangeOutline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 4px solid orange;
    outline: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
}

.btnOrange {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 2px solid orange !important;
    outline: 0;
    background: orange !important;
    color: black !important;
    font-size: 1.2rem;
}

.btnRedOutline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 4px solid red;
    outline: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
}

.btnRed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 2px solid red !important;
    outline: 0;
    background: red !important;
    color: white !important;
    font-size: 1.2rem;
}

.btnBlueOutline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 4px solid blue;
    outline: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
}

.btnBlue {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 2px solid blue !important;
    outline: 0;
    background: blue !important;
    color: white !important;
    font-size: 1.2rem;
}

.btnGreenOutline  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 4px solid green;
    outline: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
}

.btnGreen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 2px solid green !important;
    outline: 0;
    background: green !important;
    color: white !important;
    font-size: 1.2rem;
}


.btnPinkOutline  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 4px solid pink;
    outline: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
}

.btnPink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 2px solid pink !important;
    outline: 0;
    background: pink !important;
    color: black !important;
    font-size: 1.2rem;
}

.btnOutlineActive {
    transform: scale(1.05);
    transition: all .25s;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.43);
}

.btnGray {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 0;
    outline: 0;
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.btnGraySm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 0;
    outline: 0;
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    font-size: 1rem;
}


.btnSelect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 0;
    outline: 0;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
}
.btnActive {
    background-color: rgb(0, 0, 158);
}
.btnSelect:hover {
    background-color: rgb(0, 0, 158);
    transition: all 300ms;
}

.btnSubmit {
    color: #FFF;
    font-size: 1.2rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 0;
    outline: 0;
    color: #FFF;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;;
}

.btnSubmitGotit {
    color: #FFF;
    font-size: 1.2rem;
    border-radius: .4rem;
    padding: .4rem 1.5rem;
    border: 0;
    outline: 0;
    color: #FFF;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;;
}

.flade {
    animation: flade 2s;
}
@keyframes flade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lottieCheck {
    width: 300px;
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.backdrop {
    opacity: .3;
    filter: blur(4px);
}

.hidden {
    display: none;
}