.container {
    /* padding: 0 2rem; */
    background-image: url('../../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
}

.intruction_wrapper {
    position: relative;
}

.thumbnail_frame {
    position: absolute;
    left: 3rem;
    bottom: -4rem;
    width: 25%;
    z-index: 3;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    border: .4rem solid #EAA6C8;
    background-color: #fff;
    overflow: hidden;

    img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
}
.content_container {
    position: relative;
    aspect-ratio: 11/6;
    width: 100%;
    height: auto;
    z-index: 2;
}
.contenn_wrap {
    aspect-ratio: 11/6;
    width: 100%;
    height: auto;
    padding: 3rem 5rem;
    border-radius: 1rem;
    border: .1rem solid #EAA6C8;
    background-color: #fff;
    overflow-y: scroll;
    h2 {
        color: blue;
        text-align: center;
    }
    p {
        color: blue;
    }
    li {
        color: blue;
    }
    .text_lg {
        font-size: 1.3rem;
    }
}

.contenn_wrap::-webkit-scrollbar {
    width: 1rem;
    border-radius: 3rem;
}
.contenn_wrap::-webkit-scrollbar-track {
    background: inherit; 
    border-radius: 3rem;
}
.contenn_wrap::-webkit-scrollbar-thumb {
    background: #D9D9D9; 
    border-radius:10px;
}
.contenn_wrap::-webkit-scrollbar-thumb:hover {
    background: inherit; 
} 

.btn_area {
    position: relative;
    width: 100%;
}
.btn_container {
    position: absolute;
    right: 0;
    top: 2rem;
}
.next_btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem 3rem;
    width: 100%;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    box-shadow: 4px .4rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 109px;
    border: 0;
}