.container {
    /* padding: 0 2rem; */
    background-image: url('../public/images/bg3.png');
    background-size: cover;
    min-height: 100vh;
}
.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vw 7vw;
    min-height: 100vh;
}
.col {    
    flex-basis: 50%;
    width: 50%;
    padding: 0 2vw;
    /* overflow: hidden; */
}
.card {
    width: 100%;
    background-color: #FFF;
    padding: 2rem;
    border-radius: .5rem;
    /* box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.25); */
    filter: drop-shadow(5px 8px 6px rgba(0, 0, 0, 0.25));
}

.card h1 {
    text-align: center;
    font-size: 1.6rem;
    color: #1010EB;
}

.card_body {
    margin-bottom: 2rem;
    height: 15vw;
    padding: .5rem 1rem;
    overflow-y: scroll;
}

.card_body::-webkit-scrollbar {
    width: 1rem;
    border-radius: 3rem;
}
.card_body::-webkit-scrollbar-track {
    background: #D9D9D9; 
    border-radius: 3rem;
}
.card_body::-webkit-scrollbar-thumb {
    background: #FAFAFA; 
    border-radius:10px;
}
.card_body::-webkit-scrollbar-thumb:hover {
    background: #FAFAFA; 
} 

.card_body {
    color: #1010EB;
}

.btn_area {
    text-align: center;
}
.submit_btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    padding: .5rem;
    width: 60%;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    /* box-shadow: 4px 20px 30px rgba(0, 0, 0, 0.5); */
    box-shadow: .4rem .4rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 109px;
    border: 0;
}

.checkboxItem {
    width: 50%;
    /* height: 80%; */
}

@media only screen and (max-width: 800px)  {
    .col {
        flex-basis: 70%;
        width: 70%;
    }
    .card_body {
        font-size: 90%;
        height: 45vh;
    }
}
@media only screen and (max-width: 600px)  {
    .col {
        flex-basis: 100%;
        width: 100%;
    }
}