.headerbar1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    aspect-ratio: 3840 / 560;
    background-image: url('../public/images/head1.png');
    background-size: cover;
  }
  .headerbar2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    aspect-ratio: 3840 / 560;
    background-image: url('../public/images/head2.png');
    background-size: cover;
  }
.container {
    /* padding: 0 2rem; */
    background-image: url('../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.row {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}

.col_item {
    /* flex: 0 0 18.22%; */
    flex-basis: 18.22%;
    width: 18.22%;
    overflow: hidden;
}
.card {
    position: relative;
    /* aspect-ratio: 700 / 1100; */
    aspect-ratio: 700 / 1010;
    width: 100%;
    height: auto;
    background-image: url('../public/images/card1.png');
    background-size: cover;
    background-position: bottom center;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 1.2rem;
}
.card_thumbnail {
    position: absolute;
    left: 0;
    /* bottom: 0; */
    top: 0;
    /* aspect-ratio: 400 / 380; */
    aspect-ratio: 400 / 390;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    /* background: rgba(0, 0, 0, .3); */
}
.card_thumbnail img {
    display: block;
    /* width: 70%; */
    width: 95%;
    border-radius: 15px;
}
.card_title {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.card_title p {
    font-size: 1.5vw;
    font-weight: 500;
    color: #FFF;
}

.card_title span {
    display: block;
}