.headerbar1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    aspect-ratio: 3840 / 560;
    background-image: url('../public/images/head1.png');
    background-size: cover;
  }
.container {
    /* padding: 0 2rem; */
    background-image: url('../public/images/bg1.png');
    background-size: cover;
    min-height: 100vh;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}
.col_item {
    /* flex: 0 0 18.22%; */
    flex-basis: 18.22%;
    width: 18.22%;
    overflow: hidden;
}
.card {
    position: relative;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    aspect-ratio: 700 / 1028;
    width: 100%;
    height: auto;
    background-image: url('../public/images/card1.png');
    background-size: cover;
    background-position: center;
}
.card_thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    aspect-ratio: 700 / 740;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.card_thumbnail img {
    display: block;
    width: 60%;
    margin: 5% auto;
}
.card_title {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.card_title p {
    font-size: 1.4vw;
    font-weight: bold;
    color: #FFF;
}