.welcomebg {
    position: relative;
}
.nextbtn {
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    top: 36%;
    right: 10%;
    width: 4%;
    height: 3%;
    /* background-color: black; */
    cursor: pointer;
}
.container {
    /* padding: 0 2rem; */
    /* background-image: url('../public/images/bg1.png'); */
    /* background-image: url('../public/images/bg-icu2.png'); */
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.mid_screen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}
.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vw 7vw;
    min-height: 100vh;
}
.card {
    width: 100%;
    background-color: #FFF;
    padding: 1rem 2rem;
    border-radius: 1rem;
    /* box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.25); */
    /* filter: drop-shadow(5px 8px 6px rgba(0, 0, 0, 0.25)); */
    border: 2px solid #ECA7CA;
    filter: drop-shadow(2px 2px 10px rgba(0, 128, 255, 0.2));
    backdrop-filter: blur(50px);
}

.card h1 {
    text-align: center;
    font-size: 1.6rem;
    color: #1010EB;
}

.card_text {
    font-size: 1.1rem;
    font-weight: 300;
    color: #1010EB;
}
@media only screen and (max-width: 860px)  {
    .card {
        padding: 1rem;
    }
    .card h1 {
        text-align: center;
        font-size: 1.1rem !important;
        color: #1010EB;
    }
    .card_text {
        font-size: .9rem;
    }
}
.btn_area {
    text-align: right;
}
.submit_btn {
    font-size: .9rem;
    font-weight: bold;
    color: #FFF;
    padding: .3rem;
    /* width: 10%; */
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #94C11F;
    /* box-shadow: 4px 20px 30px rgba(0, 0, 0, 0.5); */
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 0;
}

.padding-top {
    margin-top: 6rem;
}
